@font-face {
    font-family: "work-sans";
    src: url("../../public/fonts/WorkSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "work-sans";
    src: url("../../public/fonts/WorkSans-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "work-sans";
    src: url("../../public/fonts/WorkSans-Bold.ttf");
    font-weight: 700;
}
