<details class="group" {{status}}>
    <summary
        class="text-base hover:text-alt-purple transition-colors duration-150 ease-in-out md:text-lg list-none font-semibold flex items-center justify-between w-full space-x-4 leading-[1.15] text-dark-purple cursor-pointer"
    >
        <span> {{ title }} </span>
        <img
            class="shrink-0 group-open:hidden"
            src="../public/icons/icon-plus.svg"
        />
        <img
            class="shrink-0 hidden group-open:block"
            src="../public/icons/icon-minus.svg"
        />
    </summary>
    <div class="mt-6 text-sm md:text-base leading-normal">
        <p class="text-grayish-purple">{{ description }}</p>
    </div>
</details>
